@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0px;
  }
  
::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 10px;
}


.rounded-guess {
  @apply rounded-tr-lg rounded-br-lg rounded-bl-lg
}

.rounded-my-messages {
  @apply rounded-tl-lg rounded-bl-lg rounded-br-lg
}